@import url('./reset.css');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #a09fd1;
    user-select: none;
}

.container {
    background: linear-gradient(
        325deg,
        #03001e 0%,
        #7303c0 30%,
        #ec38bc 70%,
        #fdeff9 100%
    );
    padding: 4rem 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
}

h2 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    width: 100%;
    padding: 1.2rem 2rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
}

.reset:focus {
    color: #ec30ec;
    background-color: #262809;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    font-size: 3rem;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    transition: 0.5s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 5px;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after {
    transform: rotateY(180deg);
}